<mat-card class="card-container" style="margin:2em;">
    <mat-card-header>
        <mat-card-title> Extension Studio </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="margin: 4px 20px;">
            <p>The easy and fast way to create a Hacknet Extension now. Courtesy of the Web!</p>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/selector">Get Started</button>
    </mat-card-actions>
</mat-card>