.mat-row:hover {
    background-color: lightgray;
}

.mat-chip {
    margin: 2px 2px !important;
}

.mat-flat-button {
    margin: 2px;
    margin-right: 4px;
}

.button-row {
    margin: 12px 15px 4px;
}

.button-row button {
    margin-right: 6px;
}