div.module-titlebar {
    width: 100%;
    height: 18px;
    font-size: 9.5pt;
    border: 1px solid;
}

div.ram-module {
    height: 66%;
    width: 20%;
    position: absolute;
    top: 20px;
    left: 0;
}

div.system-module {
    width: 50%;
    height: 70%;
    position: absolute;
    left: 20%;
    top: 20px;
    overflow: hidden;
}

div.ssh-progress {
    display: inline-block;
    float: left;
    width: 12.5%;
    height: 14px;
    text-align: center;
    font-size: 9pt;
    font-family: monospace;
    transition: .3s;
}

.locked {
    background-color: rgb(160, 30, 30);
}

.unlocked {
    background-color: rgb(30, 160, 30);
}

div.hn-progressbar {
    display: inline-block;
    width: 100%;
    height: 14px;
    vertical-align: bottom;
    float: left;
    border: 1px solid rgba(220, 220, 220, 0.45);
}

div.hn-progressbar-fill {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    float: left;
    transition: .3s;
    background-color: rgba(220, 220, 220, 0.8);
}

div.netmap-module {
    width: 49.5%;
    height: 32%;
    position: absolute;
    left: 20%;
    top: 70%;
}

div.terminal-module {
    width: 30%;
    height: calc(100% - 22px);
    background-color: black;
    position: absolute;
    left: 70%;
    top: 20px;
}

div.terminal-body {
    background-color: black;
    color: white;
    word-wrap: break-word;
    width: 100%;
    position: relative;
}

div.system-name-container {
    width: 90%;
    height: 80px;
    margin: 12px 15px;
}

div.system-icon-display {
    width: 62px;
    height: 62px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    overflow: hidden;
}

h2.system-name-display {
    position: absolute;
    left: 72px;
    top: 20px;
    color: white;
    width: auto;
    font-family: 'Nova Square';
    font-size: 19pt;
}

img.display-icon-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

p.system-ip-display {
    width: auto;
    font-size: 9pt;
    font-family: 'Nova Square';
    color: white;
    position: absolute;
    left: 86px;
    top: 80px;
}

div.hn-btn-group {
    width: 62%;
    height: 240px;
    position: relative;
    top: 20px;
    left: 16px;
}

div.hn-btn {
    width: calc(100% - 2px);
    height: 40px;
    border: 1px solid white;
    margin: 2px 1px;
    position: relative;
    background-color: rgba(220, 220, 220, 0.15);
    transition: .2s;
    cursor: pointer;
}

div.hn-btn:hover {
    background-color: rgba(220, 220, 220, 0.3);
}

div.hn-btn:active {
    background-color: rgba(220, 220, 220, 0.45);
}

.hn-btn-content {
    display: inline-block;
}

.hn-btn-block {
    width: 10px;
    background-color: rgb(0, 120, 240);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.hn-btn-text {
    font-weight: normal;
    width: calc(99% - 10px);
    font-size: 12pt;
    font-family: monospace;
    color: white;
    position: absolute;
    top: 10px;
    left: 15px;
}

.hn-btn-block-disabled {
    background-color: gray;
}

div.ram-indicator-container {
    width: 100%;
    height: 20px;
    position: relative;
}

div.ram-indiactor-readout {
    font-size: 9pt;
    width: 100%;
    height: 100%;
    color: white;
}

div.ram-indicator-fillbar {
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgray;
    z-index: -1;
}

.netmap-node {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
}

.netmap-node:hover {
    backdrop-filter: brightness(1.5);
}