<div class="container" style="width: 100%; height: 94%; position: relative; ">
    <div class="hn-theme-demo" style="width: 76%; height: 100%; position: absolute;">
        <div style="width: 95%; height: 100%; top: 2.5%; left: 2.5%; position: absolute;  background-color: black;">
            <div class="module-titlebar" style="color: lightgray; background-color: darkgoldenrod;">TOPBAR</div>
            <div class="ram-module">
                <div class="module-titlebar" style="color: lightgray; background-color: rgba(0, 120, 240, 0.3);">RAM</div>
                <div class="ram-indicator-container">
                    <div class="ram-indicator-readout">256 / 728MB</div>
                    <div class="ram-indicator-fillbar"></div>
                </div>
            </div>
            <div class="system-module">
                <div class="module-titlebar" style="color: lightgray; background-color: rgba(0, 120, 240, 0.3);">DISPLAY</div>
                <div class="system-name-container">
                    <div class="system-icon-display"><img src="assets/icons/hacknet.jpg" class="display-icon-img"></div>
                    <h2 class="system-name-display">Connected to<br/>Test Desktop 1</h2>
                    <p class="system-ip-display">@ X.X.X.X </p>
                </div>
                <div class="module-titlebar" style="background-color: rgb(0, 160, 240); color: darkblue; font-size: 12pt; text-align: center; font-family: monospace; letter-spacing: -0.5pt;">You are the Administrator of this System</div>

                <div class="hn-btn-group">
                    <div class="hn-btn">
                        <div class="hn-btn-content hn-btn-block hn-btn-block-disabled"></div>
                        <div class="hn-btn-content hn-btn-text">Login</div>
                    </div>
                    <div class="hn-btn">
                        <div class="hn-btn-content hn-btn-block"></div>
                        <div class="hn-btn-content hn-btn-text">Probe System</div>
                    </div>
                    <div class="hn-btn">
                        <div class="hn-btn-content hn-btn-block"></div>
                        <div class="hn-btn-content hn-btn-text">View Filesystem</div>
                    </div>
                    <div class="hn-btn">
                        <div class="hn-btn-content hn-btn-block"></div>
                        <div class="hn-btn-content hn-btn-text">View Logs</div>
                    </div>
                    <div class="hn-btn">
                        <div class="hn-btn-content hn-btn-block"></div>
                        <div class="hn-btn-content hn-btn-text">Scan Network</div>
                    </div>
                    <br/>
                    <br/>
                    <div class="hn-btn" style="height: 22px;">
                        <div class="hn-btn-content hn-btn-block" style="background-color: darkred;"></div>
                        <div class="hn-btn-content hn-btn-text" style="top: 1px;">Disconnect</div>
                    </div>
                </div>
            </div>

            <div class="netmap-module">
                <div class="module-titlebar" style="color: lightgray; background-color: rgba(0, 120, 240, 0.3);">NETMAP v1.2</div>
                <div class="netmap-node" title="Player's PC" style="left: 100px; top: 80px;" [ngStyle]="{'background-color' : themeData.thisComputerNode}"></div>
                <div class="netmap-node" title="Another PC" style="left: 300px; top: 120px; background-color: blue;"></div>
            </div>

            <div class="terminal-module">
                <div class="module-titlebar" style="color: lightgray; background-color: rgba(0, 120, 240, 0.3);">TERMINAL</div>
                <div class="terminal-body" style="overflow: hidden;">
                    <pre style="margin: 0px; word-wrap: break-word; width: 100%; height: 100%; white-space: pre-wrap;">
Terminal> echo hello world
hello world
Terminal> PortHack
Attempting porthack...................................

PortHack successful!

Terminal> |
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="form-control" style="width: 24%; position: absolute; left: 76%; height: 100%; overflow-y: auto;">
        <form>
            <mat-form-field>
                <mat-label>
                    Layout
                </mat-label>
                <mat-select name="layoutNameSelector" [(ngModel)]="themeData.LayoutName">
                    <mat-option *ngFor="let layout of possibleLayouts" [value]="layout.layout">{{layout.layout}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <label>Background Image</label>
                <input name="bgImage" type="file" />
            </div>
            <div>
                <label>
                    defaultHighlightColor
                </label>
                <input name="defHighlightColor" type="color" [(ngModel)]="themeData.defaultHighlightColor" />
            </div>
            <div>
                <label>
                    defaultTopBarColor
                </label>
                <input name="defaultTopBarColor" type="color" [(ngModel)]="themeData.defaultTopBarColor" />
            </div>
            <div>
                <label>
                    moduleColorSolidDefault
                </label>
                <input name="moduleColorSolidDefault" type="color" [(ngModel)]="themeData.moduleColorSolidDefault" />
            </div>
            <div>
                <label>
                    moduleColorStrong
                </label>
                <input name="moduleColorStrong" type="color" [(ngModel)]="themeData.moduleColorStrong" />
            </div>
            <div>
                <label>
                    moduleColorBacking
                </label>
                <input name="moduleColorBacking" type="color" [(ngModel)]="themeData.moduleColorBacking" />
            </div>
            <div>
                <label>
                    exeModuleTopBar
                </label>
                <input name="exeModuleTopBar" type="color" [(ngModel)]="themeData.exeModuleTopBar" />
            </div>
            <div>
                <label>
                    exeModuleTitleText
                </label>
                <input name="exeModuleTitleText" type="color" [(ngModel)]="themeData.exeModuleTitleText" />
            </div>
            <div>
                <label>
                    warningColor
                </label>
                <input name="warningColor" type="color" [(ngModel)]="themeData.warningColor" />
            </div>
            <div>
                <label>
                    subtleTextColor
                </label>
                <input name="subtleTextColor" type="color" [(ngModel)]="themeData.subtleTextColor" />
            </div>
            <div>
                <label>
                    darkBackgroundColor
                </label>
                <input name="darkBackgroundColor" type="color" [(ngModel)]="themeData.darkBackgroundColor" />
            </div>
            <div>
                <label>
                    indentBackgroundColor
                </label>
                <input name="indentBackgroundColor" type="color" [(ngModel)]="themeData.indentBackgroundColor" />
            </div>
            <div>
                <label>
                    outlineColor
                </label>
                <input name="outlineColor" type="color" [(ngModel)]="themeData.outlineColor" />
            </div>
            <div>
                <label>
                    lockedColor
                </label>
                <input name="lockedColor" type="color" [(ngModel)]="themeData.lockedColor" />
            </div>
            <div>
                <label>
                    brightLockedColor
                </label>
                <input name="brightLockedColor" type="color" [(ngModel)]="themeData.brightLockedColor" />
            </div>
            <div>
                <label>
                    brightUnlockedColor
                </label>
                <input name="brightUnlockedColor" type="color" [(ngModel)]="themeData.brightUnlockedColor" />
            </div>
            <div>
                <label>
                    unlockedColor
                </label>
                <input name="unlockedColor" type="color" [(ngModel)]="themeData.unlockedColor" />
            </div>
            <div>
                <label>
                    lightGray
                </label>
                <input name="lightGray" type="color" [(ngModel)]="themeData.lightGray" />
            </div>
            <div>
                <label>
                    shellColor
                </label>
                <input name="shellColor" type="color" [(ngModel)]="themeData.shellColor" />
            </div>
            <div>
                <label>
                    shellButtonColor
                </label>
                <input name="shellButtonColor" type="color" [(ngModel)]="themeData.shellButtonColor" />
            </div>
            <div>
                <label>
                    semiTransText
                </label>
                <input name="semiTransText" type="color" [(ngModel)]="themeData.semiTransText" />
            </div>
            <div>
                <label>
                    terminalTextColor
                </label>
                <input name="terminalTextColor" type="color" [(ngModel)]="themeData.terminalTextColor" />
            </div>
            <div>
                <label>
                    topBarTextColor
                </label>
                <input name="topBarTextColor" type="color" [(ngModel)]="themeData.topBarTextColor" />
            </div>
            <div>
                <label>
                    superLightWhite
                </label>
                <input name="superLightWhite" type="color" [(ngModel)]="themeData.superLightWhite" />
            </div>
            <div>
                <label>
                    connectedNodeHighlight
                </label>
                <input name="connectedNodeHighlight" type="color" [(ngModel)]="themeData.connectedNodeHighlight" />
            </div>
            <div>
                <label>
                    netmapToolTipColor
                </label>
                <input name="netmapToolTipColor" type="color" [(ngModel)]="themeData.netmapToolTipColor" />
            </div>
            <div>
                <label>
                    netmapToolTipBackground
                </label>
                <input name="netmapToolTipBackground" type="color" [(ngModel)]="themeData.netmapToolTipBackground" />
            </div>
            <div>
                <label>
                    topBarIconsColor
                </label>
                <input name="topBarIconsColor" type="color" [(ngModel)]="themeData.topBarIconsColor" />
            </div>
            <div>
                <label>
                    thisComputerNode
                </label>
                <input name="thisComputerNode" type="color" [(ngModel)]="themeData.thisComputerNode" />
            </div>
            <div>
                <label>
                    scanlinesColor
                </label>
                <input name="scanlinesColor" type="color" [(ngModel)]="themeData.scanlinesColor" />
            </div>
        </form>
    </div>
</div>
<br/><br/>
<mat-dialog-actions>
    <button mat-button color="warn">Discard</button>
    <button mat-button color="primary">{{themeId > 0 ? 'Save' : 'Create'}}</button>
</mat-dialog-actions>