<h2>Mission List</h2>
<div class="button-row">
    <button mat-raised-button color="primary" (click)="openEditor()">New</button>
    <!-- TODO: Open Mission Editor -->
</div>
<table mat-table [dataSource]="missions" style="width: 100%;">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- check column -->
    <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Active Check </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.activeCheck">done</mat-icon>
            <mat-icon *ngIf="!element.activeCheck">clear</mat-icon>
        </td>
    </ng-container>

    <!-- check email -->
    <ng-container matColumnDef="hasEmail">
        <th mat-header-cell *matHeaderCellDef> Has<br/>Email </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.emailId > 0">done</mat-icon>
            <mat-icon *ngIf="element.emailId < 1">clear</mat-icon>
        </td>
    </ng-container>

    <!-- check posting -->
    <ng-container matColumnDef="hasPosting">
        <th mat-header-cell *matHeaderCellDef> Has<br/>Board Post </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.postingId > 0">done</mat-icon>
            <mat-icon *ngIf="element.postingId < 1">clear</mat-icon>
        </td>
    </ng-container>

    <!-- silent column -->
    <ng-container matColumnDef="silent">
        <th mat-header-cell *matHeaderCellDef> Silent </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.IsSilent">done</mat-icon>
            <mat-icon *ngIf="!element.IsSilent">clear</mat-icon>
        </td>
    </ng-container>

    <!-- Start Function Column -->
    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> MissionStart </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected color="accent" *ngIf="element.missionStart.length > 0">{{element.missionStart}}</mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <!-- End Function Column -->
    <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> MissionEnd </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected color="accent" *ngIf="element.missionEnd.length > 0">{{element.missionEnd}}</mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="width: 360px;">
            <button mat-button color="primary" (click)="openEditor(element.missionId)"> <b>Edit</b> </button>
            <button mat-button color="accent" (click)="configureEmail(element)"><mat-icon>email</mat-icon> Email</button>
            <button mat-button color="accent" (click)="configurePosting(element)"><mat-icon>attachment</mat-icon> Board Post</button>
            <button mat-button color="warn">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>