<h2>{{actionSetId > 0 ? 'Editing' : 'Create new'}} Action Set {{actionSetId > 0 ? ': ' + actionSetInfo.name : ''}}</h2>
<form [formGroup]="infoForm">
    <mat-form-field class="full-field">
        <mat-label>
            Name
        </mat-label>
        <input matInput type="text" name="name" formControlName="name" placeholder="Short and snappy name for this ActionSet" required minlength="3" />
        <mat-hint>
            This name won't be visible in-game, and is only used to find this action set in other parts of the editor.
        </mat-hint>
    </mat-form-field>
</form>
<br/>
<div class="btn-group">
    <button mat-flat-button color="primary" (click)="openEditor()">Add</button>
</div>

<div matRipple *ngFor="let action of actions; let i = index">
    <p>{{i + 1}} {{action.typeText}}</p>
    <div class="btn-group float-right">
        <button mat-button color="accent">Edit</button>
        <button mat-button color="warn" (click)="deleteAction(action)">Delete</button>
    </div>
</div>
<mat-dialog-actions>
    <button mat-button color="warn" (click)="close()">Cancel</button>
    <button mat-button color="primary" (click)="saveActionSet()">{{actionSetId > 0 ? 'Save' : 'Create'}}</button>
</mat-dialog-actions>