.mat-drawer {
    min-width: 300px !important;
}

.game-window {
    --hn-panel-bg-primary: 0, 60, 120;
    --hn-panel-bg-accent: 180, 100, 10;

    --hn-panel-text-primary: #fff;
    --hn-panel-text-secondary: 200, 200, 200;

    width: 77.5vw;
    height: 77.5vh;

    display: grid;

    grid-template-columns: 19% 49% 32%;
    grid-template-rows: 24px 63% 33%;

    /*background-image: url("/assets/themes/hacknet_dlc_purple.png");*/
    background-size: cover;

    color: white;
}

.text-white {
    color: white;
}

.text-white svg path {
    fill: #fff;
}

.hn-top-bar {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;

    grid-template-columns: 18px 18px 18px 95.5% 25px;

    background-color: rgb(var(--hn-panel-bg-accent));
}

.hn-icon {
    text-align: center;
}

.hn-grid {
    border: 1px solid grey;
    display: grid;
}

.hn-module {
    font-size: .9em;
    align-content: flex-start;

    --panel-bg-color: 0, 0, 0, .25;
    /*background-color: rgba(var(--panel-bg-color));*/
}

.hn-module > .module-title {
    color: rgba(200, 200, 200, 0.7);
    background-color: rgba(var(--hn-panel-bg-primary), 0.6);
}

.hn-module > .module-body {
    position: relative;
    margin: 2px 6px;
}

.hn-module.process-manager {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

.app-status > .module-title {
    background-color: rgba(var(--hn-panel-bg-accent), 0.7);
}

.hn-module.hn-display {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-start: 2;
}

.hn-module.hn-netmap {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 3;
}

.hn-module.hn-terminal {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;
}

.hn-nmap-node {
    width: 12px;
    height: 12px;
    position: absolute;

    --hn-node-main: 180, 180, 180;
    --hn-node-highlight: 220, 220, 220;
    --hn-node-shadow: 100, 100, 100;

    --hn-node-mine: 50, 200, 120;
    --hn-node-mine-shadow: 25, 100, 60;


    border-radius: 20px;
    color: rgb(var(--hn-node-main));
    box-shadow: 0px 0px 6px 8px rgb(var(--hn-node-shadow));
    border: 8px solid rgb(var(--hn-node-highlight));
}

.node1 {
    top: 42px;
    left: 60px;
}

.node2 {
    top: 62px;
    left: 120px;
}

.node3 {
    top: 90px;
    left: 220px;
}

.node4 {
    top: 100px;
    left: 360px;
}

.mynode {
    top: 140px;
    left: 30px;

    border-color: rgb(var(--hn-node-mine));
    box-shadow: 0px 0px 6px 8px rgb(var(--hn-node-mine-shadow));
}

.hn-nmap-tooltip {
    width: 130px;
    height: 36px;
    position: absolute;
    left: 10px;
    top: 5px;

    border-radius: 8px;

    padding: 3px 5px;
    font-size: .9em;
}

.hn-nmap-tooltip > small {
    font-size: .72em;
}

.process-manager > .module-body {
    margin: 2px 0px;
}

.form-field-label {
    font-size: 0.75em;
    color: rgb(120, 120, 120);
}

.form-field-hint {
    font-size: 0.8em;
    color: rgb(160, 160, 160);
}