<div class="page-filler">
    <h2>Music Manager</h2>
    <div class="button-row" style="margin: 6px 14px;">
        <button mat-raised-button color="primary" (click)="uploadNewTrack()"><mat-icon>cloud_upload</mat-icon>  Upload </button>
        <!--button mat-raised-button color="accent">Edit</button-->
        <!--button mat-raised-button color="warn">Delete</button-->
    </div>
    <mat-action-list style="width: 99%; overflow: hidden;">
        <div matRipple *ngFor="let music of musicList" class="music-item">

            <div class="fill-bar" [ngStyle]="{'width': getProgress(music)}"></div>

            <mat-icon>music_note</mat-icon> <input class="music-title read-write" [(ngModel)]="music.title" [disabled]="music.ownerId === 0" (blur)="renameTrack(music)">

            <div class="button-group">
                <button mat-button color="primary" (click)="playMusic(music)"> <mat-icon *ngIf="music.player ? music.player.paused : true">play_arrow</mat-icon> <mat-icon *ngIf="music.player ? !music.player.paused : false">pause</mat-icon>{{(music.player ? music.player.paused : true) ? 'Play' : 'Pause'}}</button>
                <!-- pause -->
                <button mat-button color="warn" *ngIf="music.ownerId > 0" (click)="deleteTrack(music.musicId)"> <mat-icon>delete</mat-icon> Delete </button>
            </div>
        </div>
    </mat-action-list>
</div>