<h1 mat-dialog-title>{{themeId > 0 ? 'Edit' : 'Create'}} Theme</h1>
<div mat-dialog-content>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Base Configuration</mat-panel-title>
            <mat-panel-description>Give your theme an overall look with highlights and layout.</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="full-field">
            <mat-label>
                Theme Name
            </mat-label>
            <input matInput type="text" placeholder="Short and snappy name..." [(ngModel)]="themeData.id" required
                minlength="4" />
            <mat-hint>
                A name for this theme, only used by the toolkit to help you identify this theme for some panels and
                dialogs.
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-field">
            <mat-label>
                Base Layout
            </mat-label>
            <mat-select [(ngModel)]="themeData.layoutId">
                <mat-option *ngFor="let layout of baseLayouts" [value]="layout.layoutId">{{layout.LayoutName}}
                </mat-option>
            </mat-select>
            <mat-hint>
                This determines the layout, where each panel (Display, Terminal, Netmap) will be positioned around the
                screen.
            </mat-hint>
        </mat-form-field>

        <mat-form-field class="full-field">
            <mat-label>
                Default Highlight Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.defaultHighlightColor" />
            <mat-hint>Color shown to the side of buttons, panels, etc.</mat-hint>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Topbar Configuration
            </mat-panel-title>
            <mat-panel-description>
                Configure how the topbar will look with text, background and more.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="third-field">
            <mat-label>
                Topbar Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.defaultTopBarColor" />
            <mat-hint>Color shown at the very top of the screen.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Topbar Icon Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.topBarIconsColor" />
            <mat-hint>Color shown for Quit, Settings and Save Icons.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Topbar Text Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.topBarTextColor" />
            <mat-hint>Color used for text displayed in the top bar.</mat-hint>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Module Colors
            </mat-panel-title>
            <mat-panel-description>
                Colors shown on each of the modules (Terminal, Display, etc.)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="third-field">
            <mat-label>
                Solid Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.moduleColorSolidDefault" />
            <mat-hint>Outline/text colour shown at the top.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Strong Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.moduleColorStrong" />
            <mat-hint>Background colour of top bar.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Backing Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.moduleColorBacking" />
            <mat-hint>Background color of whole module.</mat-hint>
        </mat-form-field>

        <mat-form-field class="half-field">
            <mat-label>
                Outline Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.outlineColor" />
            <mat-hint>
                Color used for the outlines of each module and more.
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Terminal Text Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.terminalTextColor" />
            <mat-hint>
                Color used on the terminal's text.
            </mat-hint>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Exe Colors
            </mat-panel-title>
            <mat-panel-description>
                Colors shown across the executables. (E.g. SSHCrack, FTPBounce, SMTPOverflow, etc.)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="half-field">
            <mat-label>
                Exe Top Bar
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.exeModuleTopBar" />
            <mat-hint>Fill color of the top bar of applications.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Exe Title Text
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.exeModuleTitleText" />
            <mat-hint>Color of text on top bar of applications.</mat-hint>
        </mat-form-field>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ports and Cracks
            </mat-panel-title>
            <mat-panel-description>
                Colors shown for highlighting of ports and some sections of executables.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="half-field">
            <mat-label>
                Locked Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.lockedColor" />
            <mat-hint>Color used to highlight locked ports.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Bright Locked Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.brightLockedColor" />
            <mat-hint>Brighter variation - used during lock/unlock animations.</mat-hint>
        </mat-form-field>

        <mat-form-field class="half-field">
            <mat-label>
                Unlocked Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.unlockedColor" />
            <mat-hint>Color used to highlight unlocked ports.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Bright Unlocked Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.brightUnlockedColor" />
            <mat-hint>Brighter variation - used during lock/unlock animations.</mat-hint>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Netmap & Shells
            </mat-panel-title>
            <mat-panel-description>
                Colors used on the netmap, and shells. (The kind you use against proxies)
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="full-field">
            <mat-label>
                Warning Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.warningColor" />
            <mat-hint>Color used to highlight warnings and/or errors.</mat-hint>
        </mat-form-field>

        <mat-form-field class="half-field">
            <mat-label>
                Shell Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.shellColor" />
            <mat-hint>Color used on Netmap to highlight computers connected as shell(s).</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Shell Button Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.shellButtonColor" />
            <mat-hint>Color used on Shell button(s).</mat-hint>
        </mat-form-field>

        <mat-form-field class="half-field">
            <mat-label>
                Netmap Tooltip Text Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.netmapToolTipColor" />
            <mat-hint>Color used for tooltip text.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Netmap Tooltip Background Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.netmapToolTipBackground" />
            <mat-hint>Background color of Netmap tooltips.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Netmap's "This PC" Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.thisComputerNode" />
            <mat-hint>Color used to highlight the player's PC on the Netmap.</mat-hint>
        </mat-form-field>
        <mat-form-field class="half-field">
            <mat-label>
                Netmap's "Connected" Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.connectedNodeHighlight" />
            <mat-hint>Color used to highlight the node you're connected to on the Netmap.</mat-hint>
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Greys, Whites and Blacks
            </mat-panel-title>
            <mat-panel-description>
                Generally fine as-is but sometimes useful for more in-depth themes.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="third-field">
            <mat-label>
                Light Gray
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.lightGray" />
            <mat-hint>A light gray?</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Semi Transparent Text
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.semiTransText" />
            <mat-hint>Smaller less visible text displayed on some panels.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Super Light White
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.superLightWhite" />
            <mat-hint>A bold bright white used in some miscellaneous</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-field">
            <mat-label>
                Scanlines Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.scanlinesColor" />
            <mat-hint>Color used for scanlines. (E.g. on PointClicker, and WebServers)</mat-hint>
        </mat-form-field>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Miscellaneous
            </mat-panel-title>
            <mat-panel-description>
                The nitty gritty settings for that really customised look!
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="third-field">
            <mat-label>
                Subtle Text Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.subtleTextColor" />
            <mat-hint>Text color for some lesser pronounced blocks of text.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Dark Background Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.darkBackgroundColor" />
            <mat-hint>Background color used for lesser pronounced panels.</mat-hint>
        </mat-form-field>
        <mat-form-field class="third-field">
            <mat-label>
                Indent Background Color
            </mat-label>
            <input matInput type="color" [(ngModel)]="themeData.indentBackgroundColor" />
            <mat-hint>Background color used for panels inset into the display.</mat-hint>
        </mat-form-field>

    </mat-expansion-panel>
</div>
<mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Close</button>
    <button mat-button color="primary" [disabled]="themeData.id ? themeData.id.length < 4 : false"
        (click)="save()">{{themeId > 0 ? 'Save' : 'Create'}}</button>
</mat-dialog-actions>