<div style="margin: 12px 20px 4px 20px;">
  <h2 style="margin: 2px;">Missions: Storyboard</h2>
  <h5 style="margin: 2px;">Click on a mission to edit it. From there you can configure mission details and goals, or configure which mission(s) it will link with.</h5>
</div>
<mat-drawer-container>
  <mat-drawer #missionDrawer mode="side" position="end" style="min-width: 19%;">
    <div style="margin: 5px 15px;" *ngIf="selectedMission">
      <h3>Mission: &nbsp; {{selectedMission.id}}</h3>

      <p>Active Check: <fa-icon [icon]="selectedMission.activeCheck ? checkIcon : timesIcon"></fa-icon></p>
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <div id="storyboard" style="height: 900px;"></div>
  </mat-drawer-content>
</mat-drawer-container>
