/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    margin: 10px 14px;
}

.mat-checkbox {
    padding: 2px 5px;
    margin: 2px 8px;
}

.full-field {
    width: 99%;
}

.full-field > input {
    width: 98%;
    margin: 2px 3px;
}

.half-field {
    width: 49.5%;
}

.third-field {
    width: 33%;
}

.float-right {
    float: right;
}

.button-row {
    margin: 12px 15px 4px;
}

.button-row button {
    margin-right: 6px;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

p.hint-text {
    color: rgba(0, 0, 0, .54);
    position: relative;
    margin: 1px auto 4px auto;
    padding: 0;
}