<h2>Conditional Action Sets</h2>

<div class="button-row">
    <button mat-raised-button color="primary" (click)="openEditor()">New</button>
    <!--button mat-raised-button color="accent">Edit</button-->
    <!--button mat-raised-button color="warn">Delete</button-->
</div>
<table mat-table [dataSource]="actionSets" style="width: 100%;">
    <!--class="mat-elevation-z8"-->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- actionCount column -->
    <ng-container matColumnDef="actionCount">
        <th mat-header-cell *matHeaderCellDef> # of Actions </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="width: 165px;">
            <button mat-button color="accent" (click)="openEditor(element)"> Edit </button> &nbsp;
            <button mat-button color="warn" (click)="deleteActionSet(element)"> Delete </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>